:root {
    --button-height: 60px;
}

.light-gray{
    --background-color-dark: #37474f;
    --background-color-light: #90a4ae;
    --font-color-light: #eceff1;
    --font-color-dark: #263238;
}

.blue{
    --background-color-dark: #0d47a1;
    --background-color-light: #42a5f5;
    --font-color-light: #e3f2fd;
    --font-color-dark: #0d47a1;
}

.amber{
    --background-color-dark: #ff6f00;
    --background-color-light: #ffca28;
    --font-color-light: #fff8e1;
    --font-color-dark: #ff6f00;
}

.teal{
    --background-color-dark: #004d40;
    --background-color-light: #26a69a;
    --font-color-light: #e0f2f1;
    --font-color-dark: #004d40;
}

@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);
}

* {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
    font-size: 0.7em;
}

.app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.main_menu {
    display: grid;
    grid-template-columns: 1fr auto 3fr;
    grid-template-rows: 100px 120px auto;
    color: var(--font-color-dark);
}

.main_menu__title {
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 90px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main_menu__items {
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    font-size: 75px;
}

.main_menu__items > div{
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main_menu__items > div:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.main_menu__settings{
    grid-row: 3/4;
    grid-column: 2/3;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
}


.main_menu__settings__menu_item{
    height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_menu__settings__menu_item:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.main_menu__settings__color_selection{
    display: flex;
    justify-content: center;
    align-items: center;

}

.main_menu__settings__color_selection--inactive:hover{
    cursor: pointer;
    border: 2px solid var(--background-color-dark);
    background-color: var(--font-color-light);
}

.main_menu__settings__color_selection--active{
    border: 5px solid var(--background-color-dark)
}

.main_menu__settings__color_selection--inactive{
    border: 2px dashed var(--background-color-dark);
}

.main_menu__settings__color_selection > div{
    display: grid;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: repeat(2, 50px);

    height: fit-content;
    width: fit-content;
}


.main_menu__new_game{
    display: grid;
    grid-template-rows: repeat(4, 60px);

    grid-row: 3/4;
    grid-column: 2/3;
}

.main_menu__new_game > div{
    height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_menu__new_game > div:hover{
    cursor: pointer;
    transform: scale(1.4);
}

.game {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

.menu {
    grid-column: 1/3;
    grid-row: 1/2;

    background: rgba(69, 90, 100, 0.8);
    color: white;
    cursor: default;
}

.menu--active {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 100px 100px 10px 50px 10px 50px 10px 50px;
}

.menu--inactive {
    display: none;
}

.menu_menu_item {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
}

.menu>.menu_menu_item:not(:first-child):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.playground {
    grid-column: 1/2;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: 1fr var(--button-height) auto var(--button-height) 1fr;
    grid-template-rows: 1fr var(--button-height) auto var(--button-height) 2fr;
}

.playground__button {
    border: var(--font-color-dark) 3px solid;
    border-radius: var(--button-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.playground__button>svg {
    height: 75%;
    fill: var(--font-color-dark);
}

.playground__button:hover {
    cursor: pointer;
    background-color: var(--background-color-light);
}

.playground__button:hover>svg {
    fill: var(--font-color-dark)
}

.minefield {
    display: grid;
    grid-column: 3/4;
    grid-row: 3/4;
}

.mine {
    border: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    border-radius: 5px;

}

.mine>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mine--revealed {
    background-color: var(--background-color-light);
    padding: 5px;
    fill: var(--font-color-dark);
    cursor: context-menu;
}

.mine--unrevealed {
    background-color: var(--background-color-dark);
    padding: 10px;
    fill: var(--font-color-light);
    cursor: pointer;
}