:root{
    --mine-unrevealed: #37474f;
    --mine-revealed: #90a4ae;
    --font-color-light: #eceff1;
    --font-color-dark: #263238;

    --button-height: 60px;
}

@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);
  }

*{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
    font-size: 0.7em;
}

.game{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

.playground{
    grid-column: 1/2;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: 1fr var(--button-height) auto var(--button-height) 1fr;
    grid-template-rows: 1fr var(--button-height) auto var(--button-height) 2fr;
}

.playground__button{
    border: var(--font-color-dark) 5px solid;
    border-radius: var(--button-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.playground__button > svg{
    height: 75%;
    fill: var(--font-color-dark);
}

.playground__button:hover{
    cursor: pointer;
    background-color: var(--mine-revealed);
}

.playground__button:hover>svg{
    fill: var(--font-color-dark)
}

.minefield{
    display: grid;
    grid-column: 3/4;
    grid-row: 3/4;
}

.mine{
    border: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    border-radius: 5px;
 
}

.mine > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mine--revealed{
    background-color: var(--mine-revealed);
    padding: 5px;
    fill: var(--font-color-dark);
    cursor: context-menu;
}

.mine--unrevealed{
    background-color: var(--mine-unrevealed);
    padding: 10px;
    fill: var(--font-color-light);
    cursor: pointer;
}