:root{
    --mine-unrevealed: #37474f;
    --mine-revealed: #90a4ae;
    --font-color-light: #eceff1;
    --font-color-dark: #263238;
}

@font-face {
    font-family: roboto;
    src: url(Roboto-Regular.ttf);
  }

*{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
    font-size: 0.7em;
}

.app{
    display: grid;
    grid-template-columns: 400px 1fr auto 3fr;
    grid-template-rows: 1fr auto 2fr;
}

.minefield{
    display: grid;
    grid-column: 3/4;
    grid-row: 2/3;
}

.mine{
    border: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    border-radius: 5px;
 
}

.mine > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mine--revealed{
    background-color: var(--mine-revealed);
    padding: 5px;
    fill: var(--font-color-dark);
    cursor: context-menu;
}

.mine--unrevealed{
    background-color: var(--mine-unrevealed);
    padding: 10px;
    fill: var(--font-color-light);
    cursor: pointer;
}